* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.draggable {
	touch-action: none;
}
.pointing {
	color: orange;
}

body {
	background: url(./asssets/img/MOBILETEST.png);
	color: black;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@media screen and (min-width: 1000px) {
	body {
		background: url(./asssets/img/bg1.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}

.rounded-corners {
	border-radius: 15px;
}
